
/* PROTECTION SOURCE */
/* AUTHOR: ANH1989 / GUNDOG CREATIVE */


/*
----
--------
TABLE OF CONTENTS
--------
----


0.1 -- PAGE STRUCTURE
0.2 -- TEXT STYLES
0.3 -- BUTTONS
0.4 -- FORMS
0.4.1 -- -- FORM CHECKBOX SWITCH
0.5 -- ALERTS
0.6 -- MODALS
0.7 -- PANELS

1.0 -- PAGE TOP
1.0.1 -- -- PAGE TOP DESKTOP
1.0.1.1 -- -- -- LATEST ADDED PRODUCTS CART DROP
1.0.2 -- -- DESKTOP MENU
1.0.3 -- -- PAGE TOP MOBILE
1.0.4 -- -- MOBILE MENU
1.0.4.1 -- -- -- SNAP DRAWER SCROLL OVERRIDES
1.0.5 -- -- ALARM.COM LOGIN BUTTON

1.1 -- CONTENT
1.1.1 -- -- CONTENT TOP
1.1.2 -- -- SIDEBAR

1.2 -- FOOTER {}

2.0 -- SERVICE PLANS 

3.0 -- CUSTOM SYSTEM BUILD

4.0 -- ARCHIVE @FONT-FACE


--------
----
*/




/* ---- 0.1 PAGE STRUCTURE ---- */

html {text-rendering:optimizeLegibility;}
body {color:#333;font-family:'Open Sans';font-size:13px;overflow:hidden;width:100%;}

#pageWrap {background-color:#fff;}




/* ---- 0.2 TEXT STYLES ---- */

h1, h2, h3, h4, h5, h6 {font-family:'Montserrat';text-transform:uppercase;}

p {font-size:13px;color:#999;}

ul, ol {}
ul li, ol li {color:#999;padding:3px 0;}

section.ulist {margin:0 0 14px;}
section.ulist h3 {font-size:17px;color:#999;margin:0 0 7px;}
section.ulist ul {margin:0;padding:0 0 0 12px;}
section.ulist ul li {display:block;padding:4px 0;}

a {color:#186ce5;}
a:hover {color:#1255b3;}
a:focus {text-decoration:none;outline:none;}

.blue {color:#186ce5;}
.darkblue {color:#1255b3;}
.darkerblue {color:#0a3066;}
.grey {color:#dcdcdc;}
.darkgrey {color:#999;}
.black {color:#2c2d2d;}
.green {color:#51b54e;}
.darkgreen {color:#3a8238;}
.yellow {color:#e7e92a;}
.darkyellow {color:#d0d335;}
.orange {color:#e86e32;}
.darkorange {color:#cf632d;}
.red {color:#e83232;}
.darkred {color:#9c2222;}




/* ---- 0.3 BUTTONS ---- */

.button {font-size:14px;font-family:'Montserrat';font-weight:bold;border:1px solid #dcdcdc;background-color:#fff;padding:8px 14px;text-align:center;border-radius:2px;-webkit-border-raidus:2px;display:inline-block;vertical-align:middle;cursor:pointer;white-space:nowrap;/*box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,.2);*/outline:none;}
.button:hover, .button:focus {text-decoration:none;background-color:#efefef;outline:none;}
.button:active {box-shadow:inset 0px 0px 5px 1px rgba(0,0,0,.125);-webkit-box-shadow:inset 0px 0px 5px 1px rgba(0,0,0,.125);}

.button.block {display:block;width:100%;}

.button.disabled {opacity:.7;cursor:wait;}


.button.blue {color:#efefef;border:1px solid #1461cc;background:#186ce5;}
.button.blue:hover {color:#fff;border-color:#135bbf;background:#1461cc;}

.button.grey {color:#555;border:1px solid #c2c2c2;background:#dcdcdc;}
.button.grey:hover {color:#333;border-color:#b5b5b5;background:#c2c2c2;}

.button.black {color:#efefef;border:1px solid #1a1a1a;background:#333333;}
.button.black:hover {color:#fff;border-color:#0d0d0d;background:#262626;}

.button.green {color:#efefef;border:1px solid #469c43;background:#51b54e;}
.button.green:hover {color:#fff;border-color:#408f3d;background:#4ca848;}

.button.red {color:#fafafa;border:1px solid #cf2d2d;background:#e83232;}
.button.red:hover {color:#fff;border-color:#c22b2b;background:#db3030;}

.button.orange {color:#fafafa;border:1px solid #cf632d;background:#e86f33;}
.button.orange:hover {color:#fff;border-color:#c25d2b;background:#db6930;}




/* ---- 0.4 FORMS ---- */

form {}






/* ---- 0.4.1 FORM CHECKBOX SWITCH ---- */

.bootstrap-switch {font-family:'Montserrat';font-weight:bold;border-color:#999 !important;border-radius:2px !important;}
.bootstrap-switch.bootstrap-switch-focused {box-shadow:none !important;-webkit-box-shadow:none !important;border-color:#999 !important;}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {background-color:#186ce5 !important;border-bottom-left-radius:1px !important;border-top-left-radius:1px !important;box-shadow:inset 0px 0px 8px -2px rgba(0,0,0,.7);-webkit-box-shadow:inset 0px 0px 8px -2px rgba(0,0,0,.7);}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {background-color:#e83232 !important;color:#fff !important;border-bottom-right-radius:1px !important;border-top-right-radius:1px !important;box-shadow:inset 0px 0px 8px -2px rgba(0,0,0,.7);-webkit-box-shadow:inset 0px 0px 8px -2px rgba(0,0,0,.7);}
.bootstrap-switch .bootstrap-switch-label {box-shadow:inset 2px 2px 4px 0px rgba(255,255,255,.9) !important;-webkit-box-shadow:inset 2px 2px 4px 0px rgba(255,255,255,.9) !important;background:#f1f1f1 !important;}




/* ---- 0.5 ALERTS ---- */

.alert {border-radius:2px;-webkit-border-radius:2px;}
.alert-warning {background:url('../img/alertWarning.png') top left repeat transparent;color:#333;border-color:#d0d335;}
.alert-danger {background:url('../img/alertDanger.png') top left repeat transparent;color:#fff;border-color:#b52828;}
.alert-success {background:url('../img/alertSuccess.png') top left repeat transparent;color:#fff;border-color:#3a8238;}
.alert .close {color:#333;}





/* ---- 0.6 MODALS ---- */

.modal {}





/* ---- 0.7 PANELS ---- */

.panel {border-radius:2px;}




/* ---- 1.0.1 PAGE TOP DESKTOP ---- */

#pageTopDesktop {background-color:#1255b3;}

#pageTopDesktop #desktopTopMenu {padding:10px 0;}

#pageTopDesktop #desktopTopMenu #topMenuLeft {display:inline-block;float:left;}
#pageTopDesktop #desktopTopMenu #topMenuLeft h2 {font-size:15px;margin:0;padding:0;color:#fafafa;}
#pageTopDesktop #desktopTopMenu #topMenuLeft h2 a {color:#dcdcdc;margin-left:6px;}

#pageTopDesktop #desktopTopMenu #topMenuRight {float:right;display:inline-block;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul {list-style:none;font-family:'Montserrat';}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li {display:inline;margin-left:11px;position:relative;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a {color:#dcdcdc;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a:hover {color:#fafafa;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a > i.fa-shopping-cart {}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a:hover > i.fa-shopping-cart {text-decoration:underline;}




/* -- -- -- -- 1.0.1.1 LATEST ADDED PRODUCTS CART DROP -- -- -- -- */

#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop {padding:0 0 16px 0;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul {display:none;font-family:'Montserrat';top:27px;right:2px;z-index:999;width:320px;margin:0;padding:10px;background-color:#fff;white-space:nowrap;box-shadow:0 6px 8px rgba(0,0,0,.12);-webkit-box-shadow:0 6px 8px rgba(0,0,0,.12);border:1px solid #cdcdcd;border-top:none;border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;}
/* IE 10/11 SPECIFIC */
@media all and (-ms-high-contrast:none) {
     #pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul {top:28px;} /* IE10 */
     *::-ms-backdrop, #pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul {top:28px;} /* IE11 */
}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li {display:block;margin:0 0 10px;padding:0;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.latest {font-size:11px;font-style:italic;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product {margin:0 -10px 2px -10px;}

#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details {display:block;width:100%;clear:both;position:relative;padding:7px 10px;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details:hover {background-color:#efefef;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details a.removeItem {position:absolute;right:10px;top:5px;color:#dcdcdc;font-size:12px;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details a.removeItem:hover {color:#999;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details .image {display:inline-block;margin-right:5px;width:auto;vertical-align:top;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details .image img {width:50px;height:auto;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details .info {display:inline-block;width:73%;margin-right:10px;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details .info p {font-family:'Montserrat';font-size:12px;line-height:14px;margin:0;white-space:normal;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details .info p a {color:#333;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product .details .info p.qtyPrice {color:#999;}

#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li#subtotal {margin-top:10px;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li:last-child {margin:0;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a {}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.green {color:#efefef;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.grey {color:#555;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.green:hover {color:#fff;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.grey:hover {color:#333;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a:hover {}

#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop:hover > ul {display:block;position:absolute;}




/* ---- 1.0.2 DESKTOP MENU ---- */

#desktopMenu {display:block;clear:both;margin:20px 0;}

#desktopMenu #desktopBranding {display:inline-block;float:left;}
#desktopMenu #desktopBranding img {height:90px;width:auto;}
@media (max-width: 1199px) {
    #desktopMenu #desktopBranding img {height:70px;width:auto;}
}

#desktopMenu #desktopNavigation {display:inline-block;float:right;}
#desktopMenu #desktopNavigation ul {margin:37px 0 0;list-style:none;font-family:'Montserrat';}
#desktopMenu #desktopNavigation ul > li {display:inline;margin-left:18px;font-size:18px;position:relative;}
#desktopMenu #desktopNavigation ul > li:first-child {margin:0;}
#desktopMenu #desktopNavigation ul > li > a {color:#999;}
#desktopMenu #desktopNavigation ul > li > a:hover {color:#2c2d2d;}
#desktopMenu #desktopNavigation ul > li.active > a {color:#2c2d2d;}
#desktopMenu #desktopNavigation ul > li.service > a {color:#51b54e;}

@media (max-width: 1199px) {
    #desktopMenu #desktopNavigation ul {margin:24px 0 0;}
    #desktopMenu #desktopNavigation ul > li {margin-left:12px;font-size:16px;}
}

#desktopMenu #desktopNavigation ul > li.drop {padding:0 0 12px 0;}
#desktopMenu #desktopNavigation ul > li.drop > ul {display:none;position:absolute;top:32px;right:0px;min-width:150px;margin:0;padding:0;background-color:#fff;border:1px solid #cdcdcd;border-top:none;white-space:nowrap;box-shadow:0 6px 8px rgba(0,0,0,.12);-webkit-box-shadow:0 6px 8px rgba(0,0,0,.12);border-radius:0 0 2px 2px;text-align:right;z-index:999;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a {margin:0;display:block;padding:6px 20px;color:#999;font-size:15px;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a:hover {background-color:#186ce5;text-decoration:none;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a:hover:last-child {border-radius:0 0 2px 2px;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a > li {}
#desktopMenu #desktopNavigation ul > li.drop > ul > a:hover > li {color:#fff;}

#desktopMenu #desktopNavigation ul > li.drop > ul > li {}
#desktopMenu #desktopNavigation ul > li.drop > ul > li > a {}
#desktopMenu #desktopNavigation ul > li.drop > ul > li > a:hover {}

#desktopMenu #desktopNavigation ul > li.drop:hover > ul {display:block;}

@media (max-width: 1199px) {
    #desktopMenu #desktopNavigation ul > li.drop > ul > a {font-size:14px;}
}





/* ---- 1.0.3 PAGE TOP MOBILE ---- */

#pageTopMobile {background-color:#1255b3;}
#pageTopMobile #mobileTopMenu {text-align:center;padding:3px 0;}
#pageTopMobile #mobileTopMenu h2 {font-size:13px;color:#fff;margin:0;padding:0;}
#pageTopMobile #mobileTopMenu h2 a {color:#dcdcdc;margin-left:4px;white-space:nowrap;}




/* ---- 1.0.4 MOBILE MENU ---- */

#mobileMenu {background-color:#fff;border-bottom:1px solid #efefef;margin:0 0 20px;}
#mobileMenu .container {padding:0;}

#mobileMenu #mobileNavigation {width:100%;display:block;clear:both;text-align:center;height:64px;}

#mobileMenu #mobileNavigation .mobileLeft {float:left;margin:0 auto;}
#mobileMenu #mobileNavigation .mobileRight {float:right;margin:0 auto;}

#mobileMenu #mobileNavigation .mobileLeft a, #mobileMenu #mobileNavigation .mobileRight a {display:block;font-size:26px;width:64px;height:64px;text-align:center;color:#333;}
#mobileMenu #mobileNavigation .mobileLeft a:hover, #mobileMenu #mobileNavigation .mobileRight a:hover {background-color:#efefef;border-color:#dcdcdc;}
#mobileMenu #mobileNavigation .mobileLeft a i, #mobileMenu #mobileNavigation .mobileRight a i {margin:18px 0 0;}

#mobileMenu #mobileNavigation .mobileLeft a {border-right:1px solid #efefef;border-left:1px solid #efefef;}
#mobileMenu #mobileNavigation .mobileRight a {border-left:1px solid #efefef;border-right:1px solid #efefef;}

@media (max-width:766px) {
    #mobileMenu #mobileNavigation .mobileLeft a {border-left:0px;}
    #mobileMenu #mobileNavigation .mobileRight a {border-right:0px;}
}

#mobileMenu #mobileNavigation .mobileBranding {display:inline;margin:0 auto;position:relative;}
#mobileMenu #mobileNavigation .mobileBranding img {display:inline-block;height:75%;width:auto;margin:7px 0 0;}





/* ---- 1.0.4 MOBILE NAVIGATION DRAWER ---- */

#mobileDrawer {background-color:#333;}

#mobileDrawer #mobileGetStarted {display:block;width:100%;clear:both;padding:10px;}
#mobileDrawer #mobileGetStarted a {color:#fff;width:100%;box-shadow:none;-webkit-box-shadow:none;background:transparent;}
#mobileDrawer #mobileGetStarted a:hover, #mobileDrawer #mobileGetStarted a:focus {background-color:#fff;color:#333;border-color:#fff;}

#mobileDrawer hr {margin:5px 0;border-color:#222}

#mobileDrawer .snap-drawer {}
#mobileDrawer .snap-drawer ul {margin:0;padding:0;font-family:'Montserrat'}
#mobileDrawer .snap-drawer ul a {display:block;}
#mobileDrawer .snap-drawer ul a li {color:#999;padding:7px 15px;font-size:17px;}
#mobileDrawer .snap-drawer ul a:hover {background-color:#222;text-decoration:none;}
#mobileDrawer .snap-drawer ul a:hover li {color:#fff;}
#mobileDrawer .snap-drawer ul a.active li {border-left:4px solid #1255b3;padding:8px 15px 8px 11px;background-color:#222;color:#fff;}
#mobileDrawer .snap-drawer ul a.active:hover li {}

#mobileDrawer .snap-drawer ul ul.mobileDrop {}
#mobileDrawer .snap-drawer ul ul.mobileDrop a {}
#mobileDrawer .snap-drawer ul ul.mobileDrop a li {padding:3px 15px 3px 28px;font-size:12px;}
#mobileDrawer .snap-drawer ul ul.mobileDrop a:hover {}
#mobileDrawer .snap-drawer ul ul.mobileDrop a:hover li {}
#mobileDrawer .snap-drawer ul ul.mobileDrop a.active li {padding:3px 15px 3px 24px;}

#mobileDrawer #mobileAdc {display:block;width:100%;clear:both;padding:10px;margin:0 0 10px;}
#mobileDrawer #mobileAdc a {width:100%;border-color:#222;}
#mobileDrawer #mobileAdc a img {height:18px;width:auto;margin-left:6px;}




/* -- -- -- -- 1.0.4.1 SNAP DRAWER SCROLL OVERRIDES -- -- -- -- */

.snap-content, .snap-drawers, snap-drawer {overflow-x:hidden;position:fixed !important;}






/* ---- 1.0.5 ALARM.COM LOGIN BUTTON ---- */

#alarmComLogin {position:relative;}
#alarmComLogin a {position:absolute;right:0;top:38px;font-size:13px;text-transform:uppercase;padding:6px 12px;display:inline-block;border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;border-top:none;}
/* IE 10/11 SPECIFIC */
@media all and (-ms-high-contrast:none) {
     #alarmComLogin a {top:39px;} /* IE10 */
     *::-ms-backdrop, #alarmComLogin a {top:39px;} /* IE11 */
}
#alarmComLogin a img {width:105px;margin-left:6px;}
#alarmComLogin a:hover {text-decoration:none;}




/* ---- 1.1 CONTENT ---- */




/* ---- 1.1.1 CONTENT TOP ---- */

#contentTop {margin-bottom:28px;}
#contentTop #pageTitle {}
#contentTop #pageTitle h1 {margin:0;padding:0;font-size:28px;line-height:32px;}
@media (max-width: 991px) {
    #contentTop #pageTitle h1 {font-size:21px;line-height:24px;}
}
@media (max-width: 767px) {
    #contentTop #pageTitle h1 {text-align:center;}
}
#contentTop #pageTitle ul.crumbs {margin:0;padding:0;}
#contentTop #pageTitle ul.crumbs > li {display:inline;font-size:10px;padding:2px 0;}
#contentTop #pageTitle ul.crumbs > li::after {content:" >";}
#contentTop #pageTitle ul.crumbs > li:last-child::after {content:"";}
#contentTop #pageTitle ul.crumbs > li > a {}
#contentTop #pageTitle ul.crumbs > li > a:hover {}

#contentTop #contentTopCta {text-align:right;}




/* ---- 1.1.2 SIDEBAR ---- */

#sidebar {}
#sidebar section.ulist {}
#sidebar section.ulist ul {}
#sidebar section.ulist ul li {font-size:14px;}
#sidebar section.ulist ul li.active {font-weight:bold;}
#sidebar section.ulist ul li a {color:#999;}
#sidebar section.ulist ul li.active a {color:#2c2d2d;}
#sidebar section.ulist ul li:hover a {color:#2c2d2d;}






/* ---- 4.0 ARCHIVE @FONT-FACE ---- */

@font-face {
    font-family: 'Archive';
    src: url('../fonts/archive.eot');
    src: url('../fonts/archive.eot') format('embedded-opentype'),
         url('../fonts/archive.woff') format('woff'),
         url('../fonts/archive.ttf') format('truetype'),
         url('../fonts/archive.svg#ArchiveRegular') format('svg');
}























