
/* PROTECTION SOURCE */
/* AUTHOR: ANH1989 / GUNDOG CREATIVE */


/*
----
--------
TABLE OF CONTENTS
--------
----


0.1 -- PAGE STRUCTURE
0.2 -- TEXT STYLES
0.3 -- BUTTONS
0.4 -- FORMS
0.5 -- 

1.0 -- PAGE TOP
1.0.1 -- -- PAGE TOP DESKTOP
1.0.1.1 -- -- -- LATEST ADDED PRODUCTS CART DROP
1.0.2 -- -- DESKTOP MENU
1.0.3 -- -- PAGE TOP MOBILE
1.0.4 -- -- MOBILE MENU
1.0.5 -- -- ALARM.COM LOGIN BUTTON

4.0 -- ARCHIVE @FONT-FACE


--------
----
*/




/* ---- 0.1 PAGE STRUCTURE ---- */

html {text-rendering:optimizeLegibility;}
body {color:#333;font-family:'Open Sans';overflow:hidden;width:100%;}

#pageWrap {background-color:#fff;}




/* ---- 0.2 TEXT STYLES ---- */

h1, h2, h3, h4, h5, h6 {font-family:'Archive';}

p {font-size:14px;color:#999;}

ul, ol {}
ul li, ol li {color:#999;padding:3px 0;}

a {color:#186ce5;}
a:hover {color:#1255b3;}
a:focus {text-decoration:none;outline:none;}

.blue {color:#186ce5;}
.darkblue {color:#1255b3;}
.darkerblue {color:#0a3066;}
.grey {color:#dcdcdc;}
.darkgrey {color:#999;}
.black {color:#2c2d2d;}
.green {color:#51b54e;}
.darkgreen {color:#3a8238;}
.yellow {color:#e7e92a;}
.darkyellow {color:#d0d335;}
.orange {color:#e86e32;}
.darkorange {color:#cf632d;}
.red {color:#e83232;}
.darkred {color:#9c2222;}




/* ---- 0.3 BUTTONS ---- */

.button {font-size:15px;font-family:'Archive';border:1px solid #dcdcdc;padding:8px 14px;text-align:center;border-radius:2px;-webkit-border-raidus:2px;display:inline-block;vertical-align:middle;cursor:pointer;white-space:nowrap;box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,.2);}
.button:hover, .button:focus {text-decoration:none;background-color:#efefef;}
.button:active {box-shadow:inset 0px 0px 5px 1px rgba(0,0,0,.125);-webkit-box-shadow:inset 0px 0px 5px 1px rgba(0,0,0,.125);}

.button.block {display:block;width:100%;}

.button.disabled {opacity:.7;cursor:wait;}

.button.blue {color:#efefef;border:1px solid #1461cc;background: #186ce5; /* Old browsers */background: -moz-linear-gradient(top, #186ce5 0%, #1667d9 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#186ce5), color-stop(100%,#1667d9)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #186ce5 0%,#1667d9 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #186ce5 0%,#1667d9 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #186ce5 0%,#1667d9 100%); /* IE10+ */background: linear-gradient(to bottom, #186ce5 0%,#1667d9 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186ce5', endColorstr='#1667d9',GradientType=0 ); /* IE6-9 */}

.button.blue:hover {color:#fff;border-color:#135bbf;background: #1667d9; /* Old browsers */background: -moz-linear-gradient(top, #1667d9 0%, #1461cc 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1667d9), color-stop(100%,#1461cc)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #1667d9 0%,#1461cc 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #1667d9 0%,#1461cc 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #1667d9 0%,#1461cc 100%); /* IE10+ */background: linear-gradient(to bottom, #1667d9 0%,#1461cc 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1667d9', endColorstr='#1461cc',GradientType=0 ); /* IE6-9 */}

.button.grey {color:#555;border:1px solid #c2c2c2;background: #dcdcdc; /* Old browsers */background: -moz-linear-gradient(top, #dcdcdc 0%, #cfcfcf 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #dcdcdc 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #dcdcdc 0%,#cfcfcf 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #dcdcdc 0%,#cfcfcf 100%); /* IE10+ */background: linear-gradient(to bottom, #dcdcdc 0%,#cfcfcf 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */}

.button.grey:hover {color:#333;border-color:#b5b5b5;background: #c2c2c2; /* Old browsers */background: -moz-linear-gradient(top, #c2c2c2 1%, #c2c2c2 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c2c2c2), color-stop(100%,#c2c2c2)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #c2c2c2 1%,#c2c2c2 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #c2c2c2 1%,#c2c2c2 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #c2c2c2 1%,#c2c2c2 100%); /* IE10+ */background: linear-gradient(to bottom, #c2c2c2 1%,#c2c2c2 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#c2c2c2',GradientType=0 ); /* IE6-9 */}

.button.black {color:#efefef;border:1px solid #1a1a1a;background: #333333; /* Old browsers */background: -moz-linear-gradient(top, #333333 0%, #262626 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#262626)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #333333 0%,#262626 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #333333 0%,#262626 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #333333 0%,#262626 100%); /* IE10+ */background: linear-gradient(to bottom, #333333 0%,#262626 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#262626',GradientType=0 ); /* IE6-9 */}

.button.black:hover {color:#fff;border-color:#0d0d0d;background: #262626; /* Old browsers */background: -moz-linear-gradient(top, #262626 0%, #1a1a1a 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #262626 0%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #262626 0%,#1a1a1a 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #262626 0%,#1a1a1a 100%); /* IE10+ */background: linear-gradient(to bottom, #262626 0%,#1a1a1a 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */}

.button.green {color:#efefef;border:1px solid #469c43;background: #51b54e; /* Old browsers */background: -moz-linear-gradient(top, #51b54e 0%, #4ca848 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51b54e), color-stop(100%,#4ca848)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #51b54e 0%,#4ca848 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #51b54e 0%,#4ca848 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #51b54e 0%,#4ca848 100%); /* IE10+ */background: linear-gradient(to bottom, #51b54e 0%,#4ca848 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b54e', endColorstr='#4ca848',GradientType=0 ); /* IE6-9 */}

.button.green:hover {color:#fff;border-color:#408f3d;background: #4ca848; /* Old browsers */background: -moz-linear-gradient(top, #4ca848 0%, #469c43 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ca848), color-stop(100%,#469c43)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #4ca848 0%,#469c43 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #4ca848 0%,#469c43 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #4ca848 0%,#469c43 100%); /* IE10+ */background: linear-gradient(to bottom, #4ca848 0%,#469c43 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca848', endColorstr='#469c43',GradientType=0 ); /* IE6-9 */}

.button.red {color:#fafafa;border:1px solid #cf2d2d;background: #e83232; /* Old browsers */background: -moz-linear-gradient(top, #e83232 0%, #db3030 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83232), color-stop(100%,#db3030)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #e83232 0%,#db3030 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #e83232 0%,#db3030 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #e83232 0%,#db3030 100%); /* IE10+ */background: linear-gradient(to bottom, #e83232 0%,#db3030 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83232', endColorstr='#db3030',GradientType=0 ); /* IE6-9 */}

.button.red:hover {color:#fff;border-color:#c22b2b;background: #db3030; /* Old browsers */background: -moz-linear-gradient(top, #db3030 0%, #cf2d2d 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db3030), color-stop(100%,#cf2d2d)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #db3030 0%,#cf2d2d 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #db3030 0%,#cf2d2d 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #db3030 0%,#cf2d2d 100%); /* IE10+ */background: linear-gradient(to bottom, #db3030 0%,#cf2d2d 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3030', endColorstr='#cf2d2d',GradientType=0 ); /* IE6-9 */}

.button.orange {color:#fafafa;border:1px solid #cf632d;background: #e86f33; /* Old browsers */background: -moz-linear-gradient(top, #e86f33 0%, #db6930 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e86f33), color-stop(100%,#db6930)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #e86f33 0%,#db6930 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #e86f33 0%,#db6930 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #e86f33 0%,#db6930 100%); /* IE10+ */background: linear-gradient(to bottom, #e86f33 0%,#db6930 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86f33', endColorstr='#db6930',GradientType=0 ); /* IE6-9 */}

.button.orange:hover {color:#fff;border-color:#c25d2b;background: #db6930; /* Old browsers */background: -moz-linear-gradient(top, #db6930 0%, #cf632d 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db6930), color-stop(100%,#cf632d)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #db6930 0%,#cf632d 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #db6930 0%,#cf632d 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #db6930 0%,#cf632d 100%); /* IE10+ */background: linear-gradient(to bottom, #db6930 0%,#cf632d 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db6930', endColorstr='#cf632d',GradientType=0 ); /* IE6-9 */}




/* ---- 0.4 FORMS ---- */




/* ---- 0. ---- */




/* ---- 1.0.1 PAGE TOP DESKTOP ---- */

#pageTopDesktop {background-color:#1255b3;}

#pageTopDesktop #desktopTopMenu {padding:10px 0;}

#pageTopDesktop #desktopTopMenu #topMenuLeft {display:inline-block;}
#pageTopDesktop #desktopTopMenu #topMenuLeft h2 {font-size:15px;margin:0;padding:0;color:#fafafa;}
#pageTopDesktop #desktopTopMenu #topMenuLeft h2 a {color:#dcdcdc;margin-left:6px;}

#pageTopDesktop #desktopTopMenu #topMenuRight {float:right;display:inline-block;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul {list-style:none;font-family:'Archive';}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li {display:inline;margin-left:11px;position:relative;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a {color:#dcdcdc;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a:hover {color:#fafafa;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a > i.fa-shopping-cart {}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li > a:hover > i.fa-shopping-cart {text-decoration:underline;}




/* -- -- -- -- 1.0.1.1 LATEST ADDED PRODUCTS CART DROP -- -- -- -- */

#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop {padding:0 0 16px 0;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul {display:none;font-family:'Open Sans';top:29px;right:2px;z-index:999;width:320px;margin:0;padding:10px;background-color:#fff;white-space:nowrap;box-shadow:0 6px 8px rgba(0,0,0,.12);-webkit-box-shadow:0 6px 8px rgba(0,0,0,.12);border:1px solid #cdcdcd;border-top:none;border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;}
/* IE 10/11 SPECIFIC */
@media all and (-ms-high-contrast:none) {
     #pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul {top:28px;} /* IE10 */
     *::-ms-backdrop, #pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul {top:28px;} /* IE11 */
}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li {display:block;margin:0 0 10px;padding:0;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.latest {font-size:11px;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li.product {margin:0;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li#subtotal {margin-top:10px;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li:last-child {margin:0;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a {}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.green {color:#efefef;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.grey {color:#555;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.green:hover {color:#fff;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a.button.grey:hover {color:#333;}
#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop > ul > li > a:hover {}

#pageTopDesktop #desktopTopMenu #topMenuRight ul > li.cartDrop:hover > ul {display:block;position:absolute;}




/* ---- 1.0.2 DESKTOP MENU ---- */

#desktopMenu {display:block;clear:both;margin:20px 0;}

#desktopMenu #desktopBranding {display:inline-block;float:left;}
#desktopMenu #desktopBranding img {height:90px;width:auto;}
@media (max-width: 1199px) {
    #desktopMenu #desktopBranding img {height:70px;width:auto;}
}

#desktopMenu #desktopNavigation {display:inline-block;float:right;}
#desktopMenu #desktopNavigation ul {margin:37px 0 0;list-style:none;font-family:'Archive';}
#desktopMenu #desktopNavigation ul > li {display:inline;margin-left:16px;font-size:18px;position:relative;}
#desktopMenu #desktopNavigation ul > li:first-child {margin:0;}
#desktopMenu #desktopNavigation ul > li > a {color:#999;}
#desktopMenu #desktopNavigation ul > li > a:hover {color:#2c2d2d;}
#desktopMenu #desktopNavigation ul > li.active > a {color:#2c2d2d;}

@media (max-width: 1199px) {
    #desktopMenu #desktopNavigation ul {margin:24px 0 0;}
    #desktopMenu #desktopNavigation ul > li {margin-left:12px;font-size:16px;}
}

#desktopMenu #desktopNavigation ul > li.drop {padding:0 0 12px 0;}
#desktopMenu #desktopNavigation ul > li.drop > ul {display:none;position:absolute;top:32px;right:0px;min-width:150px;margin:0;padding:0;background-color:#fff;border:1px solid #cdcdcd;border-top:none;white-space:nowrap;box-shadow:0 6px 8px rgba(0,0,0,.12);-webkit-box-shadow:0 6px 8px rgba(0,0,0,.12);border-radius:0 0 2px 2px;text-align:right;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a {margin:0;display:block;padding:6px 20px;color:#999;font-size:15px;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a:hover {background-color:#186ce5;text-decoration:none;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a:hover:last-child {border-radius:0 0 2px 2px;}
#desktopMenu #desktopNavigation ul > li.drop > ul > a > li {}
#desktopMenu #desktopNavigation ul > li.drop > ul > a:hover > li {color:#fff;}

#desktopMenu #desktopNavigation ul > li.drop > ul > li {}
#desktopMenu #desktopNavigation ul > li.drop > ul > li > a {}
#desktopMenu #desktopNavigation ul > li.drop > ul > li > a:hover {}

#desktopMenu #desktopNavigation ul > li.drop:hover > ul {display:block;}

@media (max-width: 1199px) {
    #desktopMenu #desktopNavigation ul > li.drop > ul > a {font-size:14px;}
}





/* ---- 1.0.3 PAGE TOP MOBILE ---- */

#pageTopMobile {background-color:#1255b3;}
#pageTopMobile #mobileTopMenu {text-align:center;padding:3px 0;}
#pageTopMobile #mobileTopMenu h2 {font-size:13px;color:#fff;margin:0;padding:0;}
#pageTopMobile #mobileTopMenu h2 a {color:#dcdcdc;margin-left:4px;white-space:nowrap;}




/* ---- 1.0.4 MOBILE MENU ---- */

#mobileMenu {background-color:#fff;border-bottom:1px solid #efefef;}
#mobileMenu .container {padding:0;}

#mobileMenu #mobileNavigation {width:100%;display:block;clear:both;text-align:center;height:64px;}

#mobileMenu #mobileNavigation .mobileLeft {float:left;margin:0 auto;}
#mobileMenu #mobileNavigation .mobileRight {float:right;margin:0 auto;}

#mobileMenu #mobileNavigation .mobileLeft a, #mobileMenu #mobileNavigation .mobileRight a {display:block;font-size:26px;width:64px;height:64px;text-align:center;color:#333;}
#mobileMenu #mobileNavigation .mobileLeft a:hover, #mobileMenu #mobileNavigation .mobileRight a:hover {background-color:#efefef;border-color:#dcdcdc;}
#mobileMenu #mobileNavigation .mobileLeft a i, #mobileMenu #mobileNavigation .mobileRight a i {margin:18px 0 0;}

#mobileMenu #mobileNavigation .mobileLeft a {border-right:1px solid #efefef;border-left:1px solid #efefef;}
#mobileMenu #mobileNavigation .mobileRight a {border-left:1px solid #efefef;border-right:1px solid #efefef;}

#mobileMenu #mobileNavigation .mobileBranding {display:inline;margin:0 auto;position:relative;}
#mobileMenu #mobileNavigation .mobileBranding img {height:75%;width:auto;margin:7px 0 0;}





/* ---- 1.0.4 MOBILE NAVIGATION DRAWER ---- */

#mobileDrawer {background-color:#ff3399;}





/* ---- 1.0.5 ALARM.COM LOGIN BUTTON ---- */

#alarmComLogin {position:relative;}
#alarmComLogin a {position:absolute;right:0;top:40px;font-family:'Archive';font-size:13px;padding:6px 12px;display:inline-block;border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;border-top:none;}
#alarmComLogin a img {width:105px;}
#alarmComLogin a:hover {text-decoration:none;}






/* ---- 4.0 ARCHIVE @FONT-FACE ---- */

@font-face {
    font-family: 'Archive';
    src: url('../fonts/archive.eot');
    src: url('../fonts/archive.eot') format('embedded-opentype'),
         url('../fonts/archive.woff') format('woff'),
         url('../fonts/archive.ttf') format('truetype'),
         url('../fonts/archive.svg#ArchiveRegular') format('svg');
}























